header {
  max-width: 100% !important;
}

/**
   * Rotating chevron icon
   */

// Remy function
@function remy($value) {
    @return ($value / 16px) * 1rem;
  }
ul {
  list-style-type: none;
}

.sub-group-list {
  text-decoration: none;
}

.fa-angle-right:before {
  content: "\f105";
}
 
  /**
   * Hidden fallback
   */
  [hidden] {
    display: none;
    visibility: hidden;
  }
  /**
   * Styling navigation
   */
  header {
    margin-right: auto;
    margin-left: auto;

  }
  /**
   * Styling top level items
   */
  .nav a,
  .nav label {
    display: block;
    padding: .85rem;
    transition: all .25s ease-in;
  }

  .nav label:hover, .sub-group-list a:hover {
    font-weight: 600;
  }
  .nav label {cursor: pointer;}
  /**
   * Styling second level list items
   */
  .sub-group-list a,
  .sub-group-list label {
    padding-left: 2rem;
  }

  /**
   * Hide nested lists
   */
  .group-list,
  .sub-group-list,
  .sub-sub-group-list {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
  }
   
  .nav__list input[type=checkbox]:checked + label + ul {
      /* reset the height when checkbox is checked */
    max-height: 1000px;
  }
  /**
   * Rotating chevron icon
   */
  label > span {
    float: right;
    transition: transform .65s ease;
  }
  .nav__list input[type=checkbox]:checked + label > span {transform: rotate(90deg);}
