//single-post
//post-header
.text-black {
    color: black;
}

#article_data {
    h5 {
        border-top: none;
        font-weight: 300;
    }
}

#article_image {
    position: static;
    width: 100%;
}

#badge {
    a {
        margin-bottom: 1rem;
    }
}

// sidebar_news correlate
#sidebar_news {
    margin-top: 8.8rem !important;
    .card.card-icon .icon {
        width: 60px;
        height: 60px;
    }
    .img_sidebar_news img {
        height: 100%;
        object-fit: cover;
    }
}

// file sidebar

.card.card-icon svg {
    fill: $primary !important;
}

.card-icon-content a {
    color: $primary;
}

// archive
// search form
#search_field {
    background-color: #D2E4FF;
    border-radius: 0.6rem;
    width: 15rem;
    border-bottom: none;
}

// filtro argomenti
#filtro_articolo {
    gap: 2rem;
}

#no-round::before,
#no-round::after {
    content: none;
    padding-left: 0rem;
}

#no-round {
    color: white;
    background-color: blue;
    padding: 0px 17px 0px 17px;
    border-radius: 15px;
}

.form-check [type=radio]+label::before {
    content: none;
}

//archive
#container_archive {
    row-gap: 1rem;
    column-gap: 4rem;
}

// article
@media (min-width: 992px) {
    .col-lg-3_5 {
        flex: 0 0 29%;
        max-width: 29%;
    }
}

#card_notizie {
    img {
        height: 300px !important;
    }
    .card_content {
        padding: 1.3rem;
        min-height: 125px !important;
    }
}

#card_article_badge {
    top: 0%;
    right: 7%;
}

#card_article_content {
    background-color: $surface;
}

#card_article_content a,
#card_article_content p {
    color: $primary;
}

#card_article_content a:hover {
    text-decoration: underline;
}

.card.card-article:before {
    content: none;
}

.card.card-article {
    border-radius: 4px;
}

// badge argomenti
.badge-outline-blue {
    color: white;
    background-color: #51758d;
    border-color: #51758d;
}

.badge-outline-petrol:hover {
    color: #51758d;
    border-color: #51758d;
    background-color: $white;
}

.badge-outline-petrol:focus,
.badge-outline-petrol.focus {
    box-shadow: 0 0 0 0.2rem rgba(81, 117, 141, 0.5);
}

.badge-outline-petrol.disabled,
.badge-outline-petrol:disabled {
    color: #51758d;
    background-color: $white;
}

.badge-outline-petrol:not(:disabled):not(.disabled):active,
.badge-outline-petrol:not(:disabled):not(.disabled).active,
.show>.badge-outline-petrol.dropdown-toggle {
    color: #51758d;
    border-color: #51758d;
}

.badge-outline-petrol:not(:disabled):not(.disabled):active:focus,
.badge-outline-petrol:not(:disabled):not(.disabled).active:focus,
.show>.badge-outline-petrol.dropdown-toggle:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(81, 117, 141, 0.5);
}

.badge-outline-redbrown {
    color: white;
    background-color: #D1344C;
    border-color: #D1344C;
}

.badge-outline-redbrown:hover {
    color: #D1344C;
    border-color: #D1344C;
    background-color: $white;
}

.badge-outline-redbrown:focus,
.badge-outline-redbrown.focus {
    box-shadow: 0 0 0 0.2rem rgba(209, 52, 76, 0.5);
}

.badge-outline-redbrown.disabled,
.badge-outline-redbrown:disabled {
    color: #D1344C;
    background-color: $white;
}

.badge-outline-redbrown:not(:disabled):not(.disabled):active,
.badge-outline-redbrown:not(:disabled):not(.disabled).active,
.show>.badge-outline-redbrown.dropdown-toggle {
    color: #D1344C;
    border-color: #D1344C;
}

.badge-outline-redbrown:not(:disabled):not(.disabled):active:focus,
.badge-outline-redbrown:not(:disabled):not(.disabled).active:focus,
.show>.badge-outline-redbrown.dropdown-toggle:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(209, 52, 76, 0.5);
}

.badge-outline-purplelight {
    color: white;
    background-color: #B21DD0;
    border-color: #B21DD0;
}

.badge-outline-purplelight:hover {
    color: #B21DD0;
    border-color: #B21DD0;
    background-color: $white;
}

.badge-outline-purplelight:focus,
.badge-outline-purplelight.focus {
    box-shadow: 0 0 0 0.2rem rgba(178, 29, 208, 0.5);
}

.badge-outline-purplelight.disabled,
.badge-outline-purplelight:disabled {
    color: #B21DD0;
    background-color: $white;
}

.badge-outline-purplelight:not(:disabled):not(.disabled):active,
.badge-outline-purplelight:not(:disabled):not(.disabled).active,
.show>.badge-outline-purplelight.dropdown-toggle {
    color: #B21DD0;
    border-color: #B21DD0;
}

.badge-outline-purplelight:not(:disabled):not(.disabled):active:focus,
.badge-outline-purplelight:not(:disabled):not(.disabled).active:focus,
.show>.badge-outline-purplelight.dropdown-toggle:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(178, 29, 208, 0.5);
}

.badge-outline-greendark {
    color: white;
    background-color: #0E865C;
    border-color: #0E865C;
}

.badge-outline-greendark:hover {
    color: #0E865C;
    border-color: #0E865C;
    background-color: $white;
}

.badge-outline-greendark:focus,
.badge-outline-greendark.focus {
    box-shadow: 0 0 0 0.2rem rgba(14, 138, 95, 0.5);
}

.badge-outline-greendark.disabled,
.badge-outline-greendark:disabled {
    color: #0E865C;
    background-color: $white;
}

.badge-outline-greendark:not(:disabled):not(.disabled):active,
.badge-outline-greendark:not(:disabled):not(.disabled).active,
.show>.badge-outline-greendark.dropdown-toggle {
    color: #0E865C;
    border-color: #0E865C;
}

.badge-outline-greendark:not(:disabled):not(.disabled):active:focus,
.badge-outline-greendark:not(:disabled):not(.disabled).active:focus,
.show>.badge-outline-greendark.dropdown-toggle:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(14, 138, 95, 0.5);
}

.badge-outline-bluelectric {
    color: white;
    background-color: #0D00FF;
    border-color: #0D00FF;
}

.badge-outline-bluelectric:hover {
    color: #0D00FF;
    border-color: #0D00FF;
    background-color: $white;
}

.badge-outline-bluelectric:focus,
.badge-outline-bluelectric.focus {
    box-shadow: 0 0 0 0.2rem rgba(13, 0, 255, 0.5);
}

.badge-outline-bluelectric.disabled,
.badge-outline-bluelectric:disabled {
    color: #0D00FF;
    background-color: $white;
}

.badge-outline-bluelectric:not(:disabled):not(.disabled):active,
.badge-outline-bluelectric:not(:disabled):not(.disabled).active,
.show>.badge-outline-bluelectric.dropdown-toggle {
    color: #0D00FF;
    border-color: #0D00FF;
}

.badge-outline-bluelectric:not(:disabled):not(.disabled):active:focus,
.badge-outline-bluelectric:not(:disabled):not(.disabled).active:focus,
.show>.badge-outline-bluelectric.dropdown-toggle:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(13, 0, 255, 0.5);
}

.badge-outline-gray100 {
    color: black;
    background-color: #e3e4e6;
    border-color: #e3e4e6;
}

.badge-outline-gray100:hover {
    color: #e3e4e6;
    border-color: #e3e4e6;
    background-color: $white;
}

.badge-outline-gray100:focus,
.badge-outline-gray100.focus {
    box-shadow: 0 0 0 0.2rem rgba(227, 228, 230, 0.5);
}

.badge-outline-gray100.disabled,
.badge-outline-gray100:disabled {
    color: #e3e4e6;
    background-color: $white;
}

.badge-outline-gray100:not(:disabled):not(.disabled):active,
.badge-outline-gray100:not(:disabled):not(.disabled).active,
.show>.badge-outline-gray100.dropdown-toggle {
    color: #e3e4e6;
    border-color: #e3e4e6;
}

.badge-outline-gray100:not(:disabled):not(.disabled):active:focus,
.badge-outline-gray100:not(:disabled):not(.disabled).active:focus,
.show>.badge-outline-gray100.dropdown-toggle:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(227, 228, 230, 0.5);
}

.badge-outline-white {
    color: black;
    background-color: white;
    border-color: white;
}

.badge-outline-white:hover {
    color: white;
    border-color: white;
    background-color: $white;
}

.badge-outline-white:focus,
.badge-outline-white.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.badge-outline-white.disabled,
.badge-outline-white:disabled {
    color: white;
    background-color: $white;
}

.badge-outline-white:not(:disabled):not(.disabled):active,
.badge-outline-white:not(:disabled):not(.disabled).active,
.show>.badge-outline-white.dropdown-toggle {
    color: white;
    border-color: white;
}

.badge-outline-white:not(:disabled):not(.disabled):active:focus,
.badge-outline-white:not(:disabled):not(.disabled).active:focus,
.show>.badge-outline-white.dropdown-toggle:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.badge-outline-gray-primary {
    color: white;
    background-color: #455b71;
    border-color: #455b71;
}

.badge-outline-gray-primary:hover {
    color: #455b71;
    border-color: #455b71;
    background-color: $white;
}

.badge-outline-gray-primary:focus,
.badge-outline-gray-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(69, 91, 113, 0.5);
}

.badge-outline-gray-primary.disabled,
.badge-outline-gray-primary:disabled {
    color: #455b71;
    background-color: $white;
}

.badge-outline-gray-primary:not(:disabled):not(.disabled):active,
.badge-outline-gray-primary:not(:disabled):not(.disabled).active,
.show>.badge-outline-gray-primary.dropdown-toggle {
    color: #455b71;
    border-color: #455b71;
}

.badge-outline-gray-primary:not(:disabled):not(.disabled):active:focus,
.badge-outline-gray-primary:not(:disabled):not(.disabled).active:focus,
.show>.badge-outline-gray-primary.dropdown-toggle:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(69, 91, 113, 0.5);
}

.badge-outline-black {
    color: black;
    border-color: black;
    color: white;
    background-color: black;
    border-color: black;
}

.badge-outline-black:hover {
    color: black;
    border-color: black;
    background-color: $white;
}

.badge-outline-black:focus,
.badge-outline-black.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.badge-outline-black.disabled,
.badge-outline-black:disabled {
    color: black;
    background-color: $white;
}

.badge-outline-black:not(:disabled):not(.disabled):active,
.badge-outline-black:not(:disabled):not(.disabled).active,
.show>.badge-outline-black.dropdown-toggle {
    color: black;
    border-color: black;
}

.badge-outline-black:not(:disabled):not(.disabled):active:focus,
.badge-outline-black:not(:disabled):not(.disabled).active:focus,
.show>.badge-outline-black.dropdown-toggle:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.color-dicono-di-noi {
    background-color: #1260A4;
}

.color-news {
    background-color: #D33D36;
}

.color-eventi {
    background-color: #982262;
}


/*RESPONSIVE*/

@media (max-width: 768px) {
    #sidebar_news {
        margin-top: 2.5rem !important;
    }
}