#organigramma_page {

    ul{
        li{
            list-style-type: disc;
        }
    }

    .table-responsive.table-bordered {
        margin-bottom: 3rem;
    }

    a{
        color: $primary;
        font-weight: 600;

        &:hover{
            color: $primary-hover;
        }
    }
}