.article-title .container {
    height: auto;
    position: static;
}

#article-title {
    position: static;
    height: auto;
    display: block;
}

#title-img {
    img {
        max-height: 400px;
        width: 100%;
    }
}

// related projects
#related_projects {
    list-style-type: none;
    padding: 0rem;
}

#card-sidebar {
    display: block;
}

#card-sidebar-width {
    max-width: 23.2rem;
}

//archivio progetti
//card singole
#card_article_content {
    background-color: var($surface);
    color: var($primary);
}

.card.card-article:before {
    content: transparent;
}

#card_article_badge {
    position: relative;
    top: -18rem;
    right: -18.5rem;
    .badge-wrapper {
        margin: 0rm !important;
    }
}