.article_title .container {
    height: auto;
    position: static;
}

#article_title {
    position: static;
    height: auto;
    display: block;
}

#title-img {
    img {
        max-height: 400px;
        width: 100%;
    }
}

// related projects
#related_projects {
    list-style-type: none;
    padding: 0rem;
}

#card-sidebar {
    display: block;
}

#card-sidebar-width {
    max-width: 23.2rem;
}

//archivio progetti
//card singole
#card-article-content {
    background-color: var($surface);
    color: var($primary);
}

.card.card-article:before {
    content: none;
}

.card.card-article {
    border-radius: 4px;
}

#card_archive {
    gap: 4rem;
}