@mixin h1 ($color: false, $size: true) {
  @if $color {
    color:$white;
  }
  @if $size {
    font-size: $h1; 
    line-height: $lh-h1;
    letter-spacing: -2px;
  }
  font-weight: 700;
}
@mixin h2 ($color: false, $size: true) {
  @if $color {
    color:$white;
  }
  @if $size {
    font-size: $h2;
    line-height: $lh-h2;
    letter-spacing: -1.3px;
    font-weight: 700;
  }
}
@mixin h3 ($color: false, $size: true) {
  @if $color {
    color:$black;
  }
  @if $size {
    font-size: $h3;
    line-height: $lh-h3;
    letter-spacing: -1px;
    font-weight: 700;
  }
}
@mixin h4 ($color: false, $size: true) {
  @if $color {
    color:$primary;
  }
  @if $size {
    font-size: $h4;
    line-height: $lh-h4;
    letter-spacing: -0.3px;
    font-weight: 700;
  }
}
@mixin h5 ($color: false, $size: true) {
  @if $color {
    color:$primary;
  }
  @if $size {
    font-size: $h5;
    line-height: $lh-h5;
    letter-spacing: -0.2625px;
    font-weight: 600;
  }
}
@mixin h6 ($color: false, $size: true) {
  @if $color {
    color:$black;
  }
  @if $size {
    font-size: $h6;
    line-height: $lh-h6;
    font-weight: 600;
  }
}
@mixin font-body ($color: false, $size: true) {
  @if $color {
    color:$black;
  }
  @if $size {
    font-size: $font-body;
    line-height: $lh-font-body;
  }
}
@mixin text-sm ($color: false, $size: true) {
  @if $color {
    color:$black;
  }
  @if $size {
    font-size: $text-sm;
    line-height: $lh-text-sm;
  }
}
@mixin text-xs ($color: false, $size: true) {
  @if $color {
    color:$black;
  }
  @if $size {
    font-size: $text-xs;
    line-height: $lh-text-xs;
  }
}
.h1, h1{
  @include h1;
  main & {  @include h1($color: true, $size: false);  }
}
.h2, h2{
  @include h2;
  main & {  @include h2($color: true, $size: false);  }
}
.h3, h3{
  @include h3;
  main & {  @include h3($color: true, $size: false);  }
}
.h4, h4{
  @include h4;
  main & {  @include h4($color: true, $size: false);  }
}
.h5, h5{
  @include h5;
  main & {  @include h5($color: true, $size: false);  }
}
.h6, h6{
  @include h6;
  main & {  @include h6($color: true, $size: false);  }
}
.font-body, p {
  @include font-body;
  main :not(button, a) > & {  @include font-body($color: true, $size: false);  }
}
.text-sm {
  @include text-sm;
  main & {  @include text-sm($color: true, $size: false);  }
}
.text-xs {
  @include text-xs;
  main & {  @include text-xs($color: true, $size: false);  }
}