@use "sass:map";
@use "sass:list";
@use "sass:meta";
@use "sass:string";

@mixin font-clamp ($param, $min, $max) {
  // Fallback value
  #{$param}: $min;
  #{$param}: px2rem($min);
  
  @if $min != $max {
    #{$param}: s-clamp($font-min-query, $font-max-query, $min, $max);
  }
}

@function color-2-placeholder ($color) {
  $num-char: string.index(#{$color}, "#");
  @if $num-char {
    @return string.slice(#{$color}, calc($num-char + 1));
  }
  @return #{$color};
};

// Generate placeholder selectors
$tmp-color-list: ();
@each $type, $params in $mm-typo {
  %mixtend-placeholder-#{$type} {
    @each $key, $value in $params {
      @if $key != "color" {  
        @if type-of($value) == map {
          @each $f-key, $f-value in $value {
            @if function-exists($f-key) {
              #{$key}: meta.call($f-key, $f-value...);

            // Dynamic mixin invocation is not supported:
            // https://github.com/sass/sass/issues/626
            } @else if $f-key == "font-clamp" {
              @include font-clamp($key, $f-value...);
            }
          }
        } @else {
          #{$key}: $value;      
        }     
      }
    }
  }
  @if map.has-key($params, "color") {  
    $color: map.get($params, "color");
    @if not list.index($tmp-color-list, $color) {
      $tmp-color-list: list.append($tmp-color-list, $color);
      %mixtend-placeholder-#{color-2-placeholder($color)}-color {
        color: $color;
      }
    }
  }
}

@function prefix-sel ($sel) {
  @if string.length($sel) == 2 {
    @return ".#{$sel},#{$sel}";
  }
  @return ".#{$sel}";
} 

@mixin extend-type ($type, $color: false, $size: true) {
  @if $color {
    @extend %mixtend-placeholder-#{color-2-placeholder(map.get($mm-typo, $type, "color"))}-color !optional;
  }
  @if $size {
    @extend %mixtend-placeholder-#{$type} !optional;
  }
}

@each $type, $args in $mm-typo {
  #{prefix-sel($type)} {
    @include extend-type($type);
  }
}

// 

@mixin h1 ($color: false, $size: true) {
  @include extend-type(h1, $color, $size)
}
@mixin h2 ($color: false, $size: true) {
  @include extend-type(h2, $color, $size)
}
@mixin h3 ($color: false, $size: true) {
  @include extend-type(h3, $color, $size)
}
@mixin h4 ($color: false, $size: true) {
  @include extend-type(h4, $color, $size)
}
@mixin h5 ($color: false, $size: true) {
  @include extend-type(h5, $color, $size)
}
@mixin h6 ($color: false, $size: true) {
  @include extend-type(h6, $color, $size)
}
@mixin font-body ($color: false, $size: true) {
  @include extend-type(font-body, $color, $size)
}
@mixin text-sm ($color: false, $size: true) {
  @include extend-type(text-sm, $color, $size)
}
@mixin text-xs ($color: false, $size: true) {
  @include extend-type(text-xs, $color, $size)
}
@mixin fw-regular ($color: false, $size: true) {
  @include extend-type(fw-regular, $color, $size)
}

// 

main { 
  @each $type, $args in $mm-typo {
    #{prefix-sel($type)} {
      @include extend-type($type, $color: true, $size: false);
    }
  }
}

.font-body, p, ul, ol {
  @include extend-type("font-body");
  main :not(button, a) > & {
    @include extend-type("font-body", $color: true, $size: false);
  }
}
