// Martino Martini Styles
// modules
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../node_modules/bootstrap/scss/mixins/caret';
// variable
@import "martino-scss/variable/color";
@import "martino-scss/variable/typography";
@import "martino-scss/variable/spacer";
@import "martino-scss/variable/footer";
// mixins
@import "martino-scss/mixins/clamp";
@import "martino-scss/mixins/typography";
@import "martino-scss/mixins/accordion";
@import "martino-scss/mixins/copy-text";
// global
@import "martino-scss/global/typography";
// page
@import "martino-scss/page/progetto";
@import "martino-scss/page/articolo";
@import "martino-scss/page/home";
@import "martino-scss/page/spazi";
@import "martino-scss/page/contattiutili";
@import "martino-scss/page/archive-sicurezza";
@import "martino-scss/page/presentazione";
@import "martino-scss/page/cic";
@import "martino-scss/page/icdl-full-standard";
@import "martino-scss/page/mensa";
@import "martino-scss/page/orientamento";
// block
@import "martino-scss/block/hero";
@import "martino-scss/block/card-news";
@import "martino-scss/block/card-progetti";
@import "martino-scss/block/aside";
@import "martino-scss/block/btn";
@import "martino-scss/block/footer";