.carousel {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 9% 1fr 1fr;
  grid-template-rows: repeat(var(--grid-rows-num, 4), 1fr);
  gap: 0% 0px;
  grid-template-areas: ".      title  text";
  width: 100%;
  height: 100%;
}
.carousel > h2 {
  grid-area: title;
  margin: 1rem 0;
  text-transform: uppercase;
}
.carousel > input[type=radio] {
  grid-column-start: 1;
  margin: auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #C4C4C4;
  border-radius: 50%;
}
.carousel > input[type=radio]:not(:checked) {
  background-color: #C4C4C4;
}
.carousel > input[type=radio]:checked {
  background-color: #E6285F;
}
.carousel > label {
  grid-column-start: 2;
  margin: auto 0;
}
.carousel > article {
  grid-area: 1/3/last-line/-1;
}
.carousel > * {
  align-self: stretch;
}
.carousel > input {
  height: 14px;
  width: 14px;
}
.carousel > article {
  padding: 1rem 2rem;
}
.carousel > input:checked + label {
  font-weight: bold;
}
.carousel > input:checked + label + article {
  font-weight: bold;
}
.carousel > input:not(:checked) + label + article {
  display: none;
}
@media (max-width: 767.98px) {
  .carousel {
    background-color: #E6285F;
  }
}
