#presentazione-scuola {
  margin-top: 6rem;
}

#button-navigazione a {
  display: grid;
}

#button-navigazione {
  margin: 2rem 0;
}

#w100 {
  width: 100%;
}

.rem5 {
  margin-bottom: 5rem;
}

#spazi-storia {
  margin-bottom: 3rem;
}

#hero {
  height: 300px;
  width: 100%;
  background-image: url(https://source.unsplash.com/random);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

#content {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  margin: 0;
}
#content h1 {
  color: white;
  margin: auto;
  text-align: center;
}

#btn-lg-default {
  background: #1260A4;
  border-radius: 0.25rem;
  color: #fff;
  border: 0;
  width: 100%;
  padding: 0.88rem 1.75rem;
  margin-bottom: 1.5rem;
}

#btn-lg-default:hover {
  background: #0073E6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-lg-default-outline {
  background: #fff;
  border-radius: 0.25rem;
  color: #1260A4;
  border: 3px #1260A4 solid;
  width: 100%;
  padding: 0.88rem 1.75rem;
  margin-bottom: 1.5rem;
}

#btn-lg-default-outline:hover {
  color: #0073E6;
  border: 3px #0073E6 solid;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-lg-disabled {
  background: #F0F0F3;
  border-radius: 0.25rem;
  color: #C3C6CF;
  border: 0;
  width: 100%;
  padding: 0.88rem 1.75rem;
  margin-bottom: 1.5rem;
  cursor: default;
}

#btn-lg-disabled-outline {
  background: #fff;
  border-radius: 0.25rem;
  color: #C3C6CF;
  border: 3px #C3C6CF solid;
  width: 100%;
  padding: 0.88rem 1.75rem;
  margin-bottom: 1.5rem;
  cursor: default;
}

#btn-block:hover {
  text-decoration: none !important;
  cursor: default;
}

#btn-md-default {
  background: #1260A4;
  border-radius: 0.25rem;
  color: #fff;
  border: 0;
  width: 100%;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1.5rem;
}

#btn-md-default:hover {
  background: #0073E6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-md-default-outline {
  background: #fff;
  border-radius: 0.25rem;
  color: #1260A4;
  border: 3px #1260A4 solid;
  width: 100%;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1.5rem;
}

#btn-md-default-outline:hover {
  color: #0073E6;
  border: 3px #0073E6 solid;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-md-disabled {
  background: #F0F0F3;
  border-radius: 0.25rem;
  color: #C3C6CF;
  border: 0;
  width: 100%;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1.5rem;
  cursor: default;
}

#btn-md-disabled-outline {
  background: #fff;
  border-radius: 0.25rem;
  color: #C3C6CF;
  border: 3px #C3C6CF solid;
  width: 100%;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1.5rem;
  cursor: default;
}

#btn-sm-default {
  background: #1260A4;
  border-radius: 0.25rem;
  color: #fff;
  border: 0;
  width: 100%;
  padding: 0.63rem 1.25rem;
  margin-bottom: 1.5rem;
}

#btn-sm-default:hover {
  background: #0073E6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-sm-default-outline {
  background: #fff;
  border-radius: 0.25rem;
  color: #1260A4;
  border: 3px #1260A4 solid;
  width: 100%;
  padding: 0.63rem 1.25rem;
  margin-bottom: 1.5rem;
}

#btn-sm-default-outline:hover {
  color: #0073E6;
  border: 3px #0073E6 solid;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-sm-disabled {
  background: #F0F0F3;
  border-radius: 0.25rem;
  color: #C3C6CF;
  border: 0;
  width: 100%;
  padding: 0.63rem 1.25rem;
  margin-bottom: 1.5rem;
  cursor: default;
}

#btn-sm-disabled-outline {
  background: #fff;
  border-radius: 0.25rem;
  color: #C3C6CF;
  border: 3px #C3C6CF solid;
  width: 100%;
  padding: 0.63rem 1.25rem;
  margin-bottom: 1.5rem;
  cursor: default;
}

#btn-lg-secondary {
  background: #BD0043;
  border-radius: 0.25rem;
  color: #fff;
  border: 0;
  width: 100%;
  padding: 0.88rem 1.75rem;
  margin-bottom: 1.5rem;
}

#btn-lg-secondary:hover {
  background: #FF4F79;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-lg-secondary-outline {
  background: #fff;
  border-radius: 0.25rem;
  color: #BD0043;
  border: 3px #BD0043 solid;
  width: 100%;
  padding: 0.88rem 1.75rem;
  margin-bottom: 1.5rem;
}

#btn-lg-secondary-outline:hover {
  color: #FF4F79;
  border: 3px #FF4F79 solid;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-md-secondary {
  background: #BD0043;
  border-radius: 0.25rem;
  color: #fff;
  border: 0;
  width: 100%;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1.5rem;
}

#btn-md-secondary:hover {
  background: #FF4F79;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-md-secondary-outline {
  background: #fff;
  border-radius: 0.25rem;
  color: #BD0043;
  border: 3px #BD0043 solid;
  width: 100%;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1.5rem;
}

#btn-md-secondary-outline:hover {
  color: #FF4F79;
  border: 3px #FF4F79 solid;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-md-secondary {
  background: #BD0043;
  border-radius: 0.25rem;
  color: #fff;
  border: 0;
  width: 100%;
  padding: 0.63rem 1.25rem;
  margin-bottom: 1.5rem;
}

#btn-md-secondary:hover {
  background: #FF4F79;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-md-secondary-outline {
  background: #fff;
  border-radius: 0.25rem;
  color: #BD0043;
  border: 3px #BD0043 solid;
  width: 100%;
  padding: 0.63rem 1.25rem;
  margin-bottom: 1.5rem;
}

#btn-md-secondary-outline:hover {
  color: #FF4F79;
  border: 3px #FF4F79 solid;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-mini-default {
  background: #1260A4;
  border-radius: 0.25rem;
  color: #fff;
  border: 0;
  width: 100%;
  padding: 0.51rem 0.81rem;
  margin-bottom: 1.5rem;
}

#btn-mini-default:hover {
  background: #0073E6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-mini-default-outline {
  background: #fff;
  border-radius: 0.25rem;
  color: #1260A4;
  border: 2px #1260A4 solid;
  width: 100%;
  padding: 0.51rem 0.81rem;
  margin-bottom: 1.5rem;
}

#btn-mini-default-outline:hover {
  color: #0073E6;
  border: 2px #0073E6 solid;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}/*# sourceMappingURL=martino.css.map */