.footer-link a{text-decoration:none}.footer-link a:hover{text-decoration:underline}#footer-wrapper .footer-link a{text-decoration:underline}#footer-wrapper .footer-list a{text-decoration:underline}#footer-wrapper .footer-link a:hover{text-decoration:none}#footer-wrapper .footer-list a:hover{text-decoration:none}.article-wrapper a{text-decoration:underline}.article-wrapper img{max-width:100%;height:auto}

.calendar-vertical .calendar-date .calendar-date-day span {
    font-family: "Roboto Mono",monospace;
    font-size: 2.5rem;
    line-height: 1;
    margin: 0 0 5px 0;
    text-align: center;
    padding-right: 34px;
    display: block;
}

.calendar-vertical .calendar-date .calendar-date-description .calendar-date-description-content:before {
margin:0
}