#main-container {
  #btn-lg-default {
    button {
      background: $primary;
      border-radius: 0.25rem;
      color: $on-primary;
      border: 0;
      width: 100%;
      padding: 0.88rem 1.75rem;
      margin-bottom: 1rem;
      @include h6;

      span {
        @include text-sm;
        font-weight: 400;
      }

      &:hover {
        background: $primary-hover;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      }
    }

    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }

  #btn-lg-default-outline {

    button {
      background: $on-primary;
      border-radius: 0.25rem;
      color: $primary;
      border: 0.18rem $primary solid;
      width: 100%;
      padding: 0.88rem 1.75rem;
      margin-bottom: 1rem;
      @include h6;

      & {
        position: relative;
      }
      &::after {
        content: "";
        position: absolute;
        inset: -1px;
        border: 0rem solid $primary;
        transition: border 0.15s ease-in-out;
      }
      &:hover::after{
        border: 0.19rem solid $primary-hover;
      }

      span {
        @include text-sm;
        font-weight: 400;
      }

      &:hover {
        border-color: $primary-hover;
        color: $primary-hover;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s;
      }
    }

    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }

  // BUTTON DISABILITATI
  #btn-lg-disabled {
    button {
      background: $surface;
      border-radius: 0.25rem;
      color: $on-surface;
      border: 0;
      width: 100%;
      padding: 0.88rem 1.75rem;
      margin-bottom: 1rem;
      cursor: default;
      @include h6;

      span {
        @include text-sm;
        font-weight: 400;
      }

    }
  }

  #btn-lg-disabled-outline {
    button {
      background: $on-primary;
      border-radius: 0.25rem;
      color: $on-surface;
      border: 0.18rem $on-surface solid;
      width: 100%;
      padding: 0.88rem 1.75rem;
      margin-bottom: 1rem;
      cursor: default;
      @include h6;

      span {
        @include text-sm;
        font-weight: 400;
      }

    }
  }

  a[id^="btn-"] p {
    margin: 0;
  }

  a[id^="btn-"] p+p {
    margin-top: 0.62rem;
  }
}