#btn-lg-secondary{
  background: $secondary;
  border-radius: 0.25rem;
  color:$on-secondary;
  border: 0;
  width: 100%;
  padding: 0.88rem  1.75rem;
  margin-bottom: 1.5rem;
}

#btn-lg-secondary:hover{
background: $secondary-hover;
}

#btn-lg-secondary-outline{
  background: $on-secondary;
  border-radius: 0.25rem;
  color:$secondary;
  border: 3px $secondary solid;
  width: 100%;
  padding: 0.88rem  1.75rem;
  margin-bottom: 1.5rem;
}

#btn-lg-secondary-outline:hover{
  color:$secondary-hover;
  border: 3px $secondary-hover solid;
}