#main-container{
  #btn-lg-secondary{
    button{
      background: $secondary;
      border-radius: 0.25rem;
      color:$on-secondary;
      border: 0;
      width: 100%;
      padding: 0.88rem  1.75rem;
      margin-bottom: 1.5rem;

      &:hover{
        background: $secondary-hover;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      }
    } 
    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }
  #btn-lg-secondary-outline{
    button{
      background: $on-secondary;
      border-radius: 0.25rem;
      color:$secondary;
      border: 0.18rem $secondary solid;
      width: 100%;
      padding: 0.88rem  1.75rem;
      margin-bottom: 1.5rem;

      &:hover{
        border-color: $secondary-hover;
        color: $secondary-hover;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      }
    }
    &:hover{
      text-decoration: none;
      cursor: default;
    }
  }
}