#btn-md-default{
  background: $primary;
  border-radius: 0.25rem;
  color:$on-primary;
  border: 0;
  width: 100%;
  padding: 0.75rem 1.50rem;
  margin-bottom: 1.5rem;
}

#btn-md-default:hover{
background: $primary-hover;
}

#btn-md-default-outline{
  background: $on-primary;
  border-radius: 0.25rem;
  color:$primary;
  border: 3px $primary solid;
  width: 100%;
  padding: 0.75rem 1.50rem;
  margin-bottom: 1.5rem;
}

#btn-md-default-outline:hover{
  color:$primary-hover;
  border: 3px $primary-hover solid;
 
}

// BUTTON DISABILITATI

#btn-md-disabled{
  background: $surface;
  border-radius: 0.25rem;
  color:$on-surface;
  border: 0;
  width: 100%;
  padding: 0.75rem 1.50rem;
  margin-bottom: 1.5rem;
  cursor: default;
}

#btn-md-disabled-outline{
  background: $on-primary;
  border-radius: 0.25rem;
  color:$on-surface;
  border: 3px $on-surface solid;
  width: 100%;
  padding: 0.75rem 1.50rem;
  margin-bottom: 1.5rem;
  cursor: default;
}