#main-container{
  #btn-mini-default{
    button{
      background: $primary;
      border-radius: 0.25rem;
      color:$on-primary;
      border: 0;
      width: 100%;
      padding: 0.51rem 0.81rem;
      margin-bottom: 1rem;
   
      &:hover{
        background: $primary-hover;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      }
    } 
    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }
  #btn-mini-default-outline{
    button{
      background: $on-primary;
      border-radius: 0.25rem;
      color:$primary;
      border: 0.12rem $primary solid;
      width: 100%;
      padding: 0.51rem 0.81rem;
      margin-bottom: 1rem;

      &:hover{
        border-color: $primary-hover;
        color: $primary-hover;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      }
    }
    &:hover{
      text-decoration: none;
      cursor: default;
    }
  }    
  // BUTTON DISABILITATI
  #btn-mini-disabled{
    button{
      background: $surface;
      border-radius: 0.25rem;
      color:$on-surface;
      border: 0;
      width: 100%;
      padding: 0.51rem 0.81rem;
      margin-bottom: 1rem;
      cursor: default;
    }
  }
  #btn-mini-disabled-outline{
    button{
      background: $on-primary;
      border-radius: 0.25rem;
      color:$on-surface;
      border: 0.12rem $on-surface solid;
      width: 100%;
      padding: 0.51rem 0.81rem;
      margin-bottom: 1rem;
      cursor: default;
    }
  }
}