#btn-md-secondary{
  background: $secondary;
  border-radius: 0.25rem;
  color:$on-secondary;
  border: 0;
  width: 100%;
  padding: 0.63rem  1.25rem;
  margin-bottom: 1.5rem;
}

#btn-md-secondary:hover{
background: $secondary-hover;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#btn-md-secondary-outline{
  background: $on-secondary;
  border-radius: 0.25rem;
  color:$secondary;
  border: 3px $secondary solid;
  width: 100%;
  padding: 0.63rem  1.25rem;
  margin-bottom: 1.5rem;
}

#btn-md-secondary-outline:hover{
  color:$secondary-hover;
  border: 3px $secondary-hover solid;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}