@use "sass:map";

$btn-lg-names: default ;

$btn-lg-colors: (
  default: $primary, 
  on-default: $on-primary,   
  default-hover: $primary-hover, 

  secondary: $secondary,
  on-secondary: $on-secondary,  
  secondary-hover: $secondary-hover,
);

#main-container {
  @each $name in $btn-lg-names {
    $color:       map.get($btn-lg-colors, "#{$name}");
    $on-color:    map.get($btn-lg-colors, "on-#{$name}");
    $color-hover: map.get($btn-lg-colors, "#{$name}-hover");
      
    .btn-mini-#{$name}{
      button{
        background: $color;
        border-radius: 0.25rem;
        color:$on-color;
        border: 0;
        width: 100%;
        padding: 0.51rem 0.81rem;
        margin-bottom: 1rem;
        @include text-xs;

        &:hover{
          background: $color-hover;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        }
      } 
      &:hover {
        text-decoration: none;
        cursor: default;
      }
    }
    .btn-mini-#{$name}-outline{
      button{
        background: $on-color;
        border-radius: 0.25rem;
        color:$color;
        border: 0.12rem $color solid;
        width: 100%;
        padding: 0.51rem 0.81rem;
        margin-bottom: 1rem;
        @include text-xs;

        & {
          position: relative;
        }
        &::after {
          content: "";
          position: absolute;
          inset: -1px;
          border: 0rem solid $color;
          transition: border 0.15s ease-in-out;
        }
        &:hover::after{
          border: 0.19rem solid $color-hover;
        }

        &:hover{
          border-color: $color-hover;
          color: $color-hover;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        }
      }
      &:hover{
        text-decoration: none;
        cursor: default;
      }
    }    
  }
  // BUTTON DISABILITATI
  .btn-mini-disabled{
    button{
      background: $surface;
      border-radius: 0.25rem;
      color:$on-surface;
      border: 0;
      width: 100%;
      padding: 0.51rem 0.81rem;
      margin-bottom: 1rem;
      cursor: default;
      @include text-xs;

    }
  }
  .btn-mini-disabled-outline{
    button{
      background: $on-primary;
      border-radius: 0.25rem;
      color:$on-surface;
      border: 0.12rem $on-surface solid;
      width: 100%;
      padding: 0.51rem 0.81rem;
      margin-bottom: 1rem;
      cursor: default;
      @include text-xs;

    }
  }
}