// $footer-use-tabs: 'false';
$footer-use-tabs: 'true';

.footer--wrapper {
    // background-color: #5a768a;
    /* material-theme/sys/dark/primary-container */
    background: #004882;
    color: #ffffff;
    // padding: 50px 0;
    padding: 50px 1.1878rem;
    font-family: 'Titillium Web';
    font-style: normal;
    .container .footer {
        gap: .7rem;
        display: grid;
        grid-template-columns: 
            repeat(auto-fill, minmax(25ch, 1fr));

        & > .footer--column {
            label {
                width: 100%;
                h2 {
                    position: relative;
                }
            }
            input {
                &[type=checkbox] {
                    display: none;
                }
                // &:checked+label {
                //     &::after {
                //         color: #ffffff;
                //     }
                //     +.footer-list {

                //     }
                // }
                @if $footer-use-tabs == 'true' {
                
                    @include media-breakpoint-down(xs,$breakpoints: (
                        xs: 0,
                        sm: 508px,
                    )) {
                        ~.footer-list {
                            padding-inline: max(1rem,3vw);
                        }
                        +label {
                            border-top: 1px solid #ffffff;
                        }
                        +label h2 {
                            margin: 1rem 0 0 0 ;
                        }
                        &:checked+label {
                            h2 {
                                @include caret(up);
                                &::after {
                                    color: #ffffff;
                                    float: right;
                                    position: relative;
                                    top:45%;
                                    margin-left: auto;
                                    margin-right: 0;
                                    margin-block: 1rem;
                                }
                            }
                            +.footer-list a {
                                display: inline-block;
                                width: 100%;
                                padding-block: clamp(0.2rem, 3rem - 8vw, .8rem);
                            }
                        }
                        &:not(:checked)+label  {
                            &>h2 {
                                @include caret(down);
                                &::after {
                                    color: #ffffff;
                                    float: right;
                                    position: relative;
                                    top:45%;
                                    margin-left: auto;
                                    margin-right: 0;
                                    margin-block: 1rem;
                                }
                            }
                            +.footer-list {
                                display: none;
                            }
                        }
                    }
                }
            }
        //     &:last-of-type {
                
        //     }
        }
    }
    .footer-link a,
    a {
        color: #ffffff;
        font-size: .875rem;
        font-weight: 600;
        text-decoration: underline;

        &:not(:focus-visible, :focus, :hover) {
            text-decoration: none;
        }
    }

    .logo-footer {
        display: flex;
        align-items: center;

        h1,
        .h1 {
            display: block;
            font-weight: 400;
            font-size: 1.313rem;
            line-height: 1.29;
            letter-spacing: 0;
            margin: 0 0 0 25px;
            color: #ffffff;

            @include media-breakpoint-down(md) {
                font-size: 10px;
                margin-left: 15px;
            }

            span {
                display: block;

                strong {
                    font-weight: 700;
                }
            }
        }

        &::after {
            display: block;
            clear: both;
            content: "";
        }

        svg {
            width: 64px;
            height: 72px;
            display: block;
            fill: white;

            @include media-breakpoint-down(md) {
                width: 40px;
                height: 45px;
            }
        }
    }

    h3,
    .h3 {
        // color: #ffffff;
        // font-size: 1.13rem;
        color: #ffffff;
        font-weight: 700;
        line-height: 40px;
        font-size: clamp(1.5rem, 6vw, 1.75rem);
    }

}

.footer-list ul {
    padding: 0;
    list-style: none;

    li {
        margin: 0 0 0 0;
    }
}


.footer-inline-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 600;
    list-style: none;
    padding: 0;
    row-gap: 10px;
    column-gap: 30px;
    /* li {
      padding-right: 30px;
    } */
}


.footer-text {
    font-size: 0.875rem;
    position: relative;
    z-index: 0;
    padding: 20px 0;
    margin: 20px 0 0 0;

    p {
        margin: 0;
    }

    &::before,
    &::after {
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 1;
        opacity: 0.27;
    }
}


.sub-footer {
    display: flex;

    @include media-breakpoint-down(md) {
        flex-direction: column;
    }

    .footer-social {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        @include media-breakpoint-down(md) {
            margin-left: 0px;
        }
    }
}




.footer-social {
    display: flex;
    color: #ffffff;

    .footer-social-wrapper {
        display: flex;
        align-items: center;
    }

    a {
        color: #ffffff;
        margin-left: 8px;

        svg {
            fill: #ffffff;
            width: 18px;
            height: 18px;
            display: block;
        }
    }

    span {
        font-weight: 600;
    }
}