// Martino Martini Colors

$primary: #1260A4;

$Error: #BA1B1B;

$Neutral: #9C9DA0;

$Neutral_Variant: #5A5E66;

$Yellow: #F0AE2C;

$Light_blue: #36B6E9;

$Orange: #EE502F;

$Fuchsia: #E9265E;

$Purple: #982262;

$Red: #D33D36;

$Green: #5AB447;

$Sidebar: #DFE2EB;




