$font-max-query: 768px;
$font-min-query: 576px;

$mm-typo: (
  h1: (
    color: $white,  
    font-size: (
      font-clamp: (40px, 56px)
    ), 
    font-weight: 700,
    line-height: (
      font-clamp: (48px, 64px)
    ), 
    letter-spacing: -2px,
  ),
  h2: (
    color: $primary,  
    font-size: (
      font-clamp: (32px, 48px)
    ), 
    font-weight: 700,
    line-height: (
      font-clamp: (40px, 60px)
    ), 
    letter-spacing: -1.3px,
  ),
  h3: (
    color: $primary,  
    font-size: (
      font-clamp: (28px, 40px)
    ), 
    font-weight: 700,
    line-height: (
      font-clamp: (32px, 48px)
    ), 
    letter-spacing: -1px,
  ),
  h4: (
    color: $primary,  
    font-size: (
      font-clamp: (24px, 32px)
    ), 
    font-weight: 700,
    line-height: (
      font-clamp: (28px, 40px)
    ), 
    letter-spacing: -0.3px,
  ),
  h5: (
    color: $primary,  
    font-size: (
      font-clamp: (20px, 28px)
    ), 
    font-weight: 600,
    line-height: (
      font-clamp: (24px, 40px)
    ), 
    letter-spacing: -0.2625px,
  ),
  h6: (
    color: $black,  
    font-size: (
      font-clamp: (16px, 24px)
    ), 
    font-weight: 600,
    line-height: (
      font-clamp: (24px, 24px)
    ), 
  ),
  font-body: (
    color: $black,  
    font-size: (
      font-clamp: (16px, 18px)
    ), 
    line-height: (
      font-clamp: (24px, 28px)
    ), 
  ),
  text-sm: (
    color: $black,  
    font-size: (
      font-clamp: (14px, 16px)
    ), 
    line-height: (
      font-clamp: (20px, 21px)
    ), 
  ),
  text-xs: (
    color: $black,  
    font-size: (
      font-clamp: (14px, 14px)
    ), 
    line-height: (
      font-clamp: (20px, 18px)
    ), 
  ),
  fw-regular: (
    font-weight: 400,
  ),
  primary: (
    color: $primary,
  )
);
