
h2 {
    text-transform: uppercase;
    font-size: 48px;
    color: white;
    margin: auto;
    text-align: center;
}

h3{
    font-size: 40px;
    color: $primary;
}

h4 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: normal;
    color: $primary;
}
h5 {
    font-size: 28px;
    color: black;
}

h6{
    font-size: 24px;
    font-weight: 200;
}

