<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="vallenato.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="vallenato.js"></script>

		<script>
			$(document).ready(function() {
				vallenato();
			});
		</script>
	</head>

	<body>
		<div class="vallenato">
			<div class="vallenato-header">
				Header 1
			</div><!--/.vallenato-header-->

			<div class="vallenato-content">
				Your Content...
			</div><!--/.vallenato-content-->

			<div class="vallenato-header">
				Header 2
			</div><!--/.vallenato-header-->

			<div class="vallenato-content">
				Your Content...
			</div><!--/.vallenato-content-->
		</div><!--/.vallenato-->
	</body>
</html>
